
/*===================================================================================*/
/*	BODY
/*===================================================================================*/




/*===================================================================================*/
/*	Padding XS
/*===================================================================================*/


.inner-top-xs {
    padding-top: 35px;
}

.inner-bottom-xs {
    padding-bottom: 35px;
}

.outer-top-xs {
    margin-top: 45px;
}

.outer-bottom-xs {
    margin-bottom: 45px;
}






/*===================================================================================*/
/*	HEADER
/*===================================================================================*/

header .container-fluid {
    position: relative;
    z-index: 2;
}

.header-left {
    height: 92px;
    position: absolute;
    background: #efefef url(http://www.uti.edu/uti/img/hdrleft_bg.png) repeat-x;
    margin: 0 auto;
    -webkit-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    -moz-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    z-index: 100000;
    width: 22%;
    padding: 4px;
}

    .header-left:before {
        content: '';
        display: block;
        width: 45px;
        height: 92px;
        position: absolute;
        top: 0;
        left: 99%;
        background: url(http://www.uti.edu/uti/img/ra_white.png) center top no-repeat;
        z-index: 1000000;
    }

.header-middle {
    height: 84px;
    -webkit-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    -moz-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    background: #d83427 url(http://www.uti.edu/uti/img/hdrMiddle_bg.png) repeat-x;
    width: 78%;
    float: left;
}

    .header-middle:after {
        content: '';
        display: block;
        width: 43px;
        height: 91px;
        position: relative;
        top: -83px;
        left: 100%;
        z-index: 0;
        background: url(http://www.uti.edu/uti/img/ra_red.png) no-repeat;
    }



.header-right {
    padding: 7px 0 7px 15px;
    z-index: -1;
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod�BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,#fff 37%,#eee 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(37%,#fff),color-stop(100%,#eee));
    background: -webkit-linear-gradient(top,#fff 37%,#eee 100%);
    background: -o-linear-gradient(top,#fff 37%,#eee 100%);
    background: -ms-linear-gradient(top,#fff 37%,#eee 100%);
    background: linear-gradient(to bottom,#fff 37%,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0);
    -webkit-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    -moz-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    border-bottom: 0 solid #ab221a;
    margin: 0 auto;
    text-align: center;
    width: 22%;
    float: right;
}

.cta-phone-box {
  background: #f5f5f5;
  color: #444;
  -ms-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 9px 10px 0px 10px;
  right: 0;
  position: absolute;
  margin: 78px 56px 0 23px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  z-index: -1;
}


 .cta-phone-box .phone {
  color: #444;
  font-weight: 700;
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
}

  .cta-phone-box ul {
  padding-bottom: 0;
  padding-left: 0;

}


/*===================================================================================*/
/*	Headings
/*===================================================================================*/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Tungsten A','Tungsten B' !important;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: 74px;
}

h2 {
    font-size: 46px;
}
/*===================================================================================*/
/*	Images
/*===================================================================================*/

img {
    max-width: 100%;
    height: auto;
}

/*Image Box Highlight*/
.imgboxes_style1 h3 {
    position: absolute;
    left: 15px;
    bottom: 4px;
    color: #fff;
    padding: 0px 10px;
    background: #a70e13;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/*===================================================================================*/
/*	NAV
/*===================================================================================*/

.navbar-nav > li > a {
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    text-transform: inherit;
    padding: 25px 34px;
    color: #fff !important;
    border-right: 1px solid #c51709;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #00546E;
}


.navbar-nav {
    padding-left: 0;
}

.navbar-collapse.collapse {
    padding: 0;
}


.navbar {
    background-color: transparent;
}


    .navbar .navbar-collapse {
        background-color: transparent;
        width: 100%;
        border-bottom: 0 solid #E6E9ED;
        margin-left: 30%;
    }

.navbar-brand img {
    max-height: 70px;
}




.navbar-header {
    border-bottom: 0;
}

    .navbar-header li, .navbar-header a {
        height: auto;
    }

.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    background-color: #2a6496;
    border-color: #2a6496;
    color: #2a6496;
}


/*make nav hoverable*/
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

ul.social {
    background: black;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    margin-right: 120px;
}


.navbar-social li, .navbar-social a {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
}


/*===================================================================================*/
/*	PADDING REMOVAL
/*===================================================================================*/
.no-padding {
    padding: 0;
}

.no-top-padding {
    padding-top: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.no-left-padding {
    padding-left: 0;
}

/*===================================================================================*/
/*	MARGIN REMOVAL
/*===================================================================================*/
.no-margin {
    margin: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-left-margin {
    margin-left: 0;
}

/*===================================================================================*/
/*	TEXT COLORS
/*===================================================================================*/

.text-black {
    color: #000;
}

/*===================================================================================*/
/*	ROYAL SLIDER
/*===================================================================================*/
#full-width-slider {
    width: 100%;
    color: #000;
    margin: 0 auto;
    text-align: center;
}

section#hero {
    /* border-bottom: 5px solid #0186d1; */
    -webkit-box-shadow: 0 0 14px 1px #000;
    -ms-box-shadow: 0 0 14px 1px #000;
    box-shadow: 0 0 14px 1px #000;
    top: -12px;
    position: relative;
    z-index: 1;
}







/*ARROW*/
.intro-arrow {
    background: url(../images/down-arrows/navy-blue-down-arrow.png) center top/120% no-repeat;
    color: #fff;
    margin-top: -13px;
    position: relative;
}

.light-bg-down-arrow {
    background: url(../images/down-arrows/light-bg-down-arrow.png) center top/120% no-repeat;
    margin-top: 0;
    position: relative;
}


.white-red-down-arrow {
    background: url(../images/down-arrows/white-bg-red-down-arrow.png) center top/120% no-repeat;
    margin-top: 0;
    position: relative;
}

.white-blue-down-arrow {
    background: url(../images/down-arrows/white-bg-blue-down-arrow.png) center top/120% no-repeat;
    margin-top: 0;
    position: relative;
}


.dark-footer-up-arrow {
    background: url(../images/down-arrows/dark-footer-up-arrow.png) center bottom/120% no-repeat;
    margin-top: 0;
    position: relative;
}

.arrow-top-bottom {
    background-image: url(../images/down-arrows/light-bg-down-arrow.png), url(../images/down-arrows/dark-footer-up-arrow.png);
    background-position: center top, center bottom;
    background-repeat: no-repeat;
}

/*light-bg-left-arrow.png*/








/*===================================================================================*/
/*	Navbar
/*===================================================================================*/


.navbar-default {
    color: #fff;
    border-bottom: 0;
}



    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #fff;
        border-bottom-color: #fff;
    }

    .navbar-default .navbar-brand {
        color: #fff;
        margin: 7px 0 27px 0;
    }

.menu-large {
    position: static !important;
}

.menu-small .dropdown-menu {
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
}

.dropdown-menu {
    border: 0;
    background-color: #00546E !important;
}

    .dropdown-menu > li > a {
        color: #fff;
    }

.dropdown-header {
    color: #fff;
}

.navbar-nav > li.dropdown:hover {
    background: #00546E;
}

.megamenu {
    padding: 20px 0px;
    width: 100%;
}

    .megamenu > li > ul {
        padding: 0;
        margin: 0;
    }

        .megamenu > li > ul > li {
            list-style: none;
        }

            .megamenu > li > ul > li > a {
                display: block;
                padding: 3px 20px;
                clear: both;
                font-weight: normal;
                line-height: 1.428571429;
                color: #fff;
                white-space: normal;
            }

    .megamenu > li ul > li > a:hover,
    .megamenu > li ul > li > a:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }

    .megamenu.disabled > a,
    .megamenu.disabled > a:hover,
    .megamenu.disabled > a:focus {
        color: #999999;
    }

        .megamenu.disabled > a:hover,
        .megamenu.disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

    .megamenu.dropdown-header {
        color: #428bca;
        font-size: 18px;
    }

.navbar .dropdown-menu {
    padding: 20px;
}

ul.dropdown-menu.megamenu li ul:hover {
    background: #013954;
    outline: #fff solid thin;
}

ul.dropdown-menu.megamenu li ul:only-child {
    min-height: 400px;
}


.dropdown-header h3 {
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 28px;
}

.navbar .menu-large .dropdown-menu {
    margin: -1px 0 0 20px;
    width: 97%;
}


.navbar .sidelines span {
    position: relative;
    top: .5em;
    background: #00546E;
    color: white;
}

.btn.navbar-cta {
    display: none;
}

/*Position Mobile Nav Icon*/
.btn.responsive-menu {
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 5px;
}

.mobile-cta { padding: 15px;}
.mobile-cta-container { display: none;}

/*MEDIA QUERIES*/
@media (max-width: 1344px) {
    .navbar-nav > li > a {
        padding: 25px 25px;
    }
}

@media (max-width: 1200px) {
    .navbar-nav > li > a {
        padding: 25px 20px;
    }
}

@media (max-width: 1105px) {
    .navbar-nav > li > a {
        padding: 25px 16px;
    }
}

@media (min-width: 1024px) {

    a.navbar-brand {
        float: right;
    }
}

@media (max-width: 1024px) {

    .header-left, .header-middle:after, .header-right, .dropdown-menu, .navbar-nav > li > a .caret {
        display: none !important;
    }


    .header-middle {
        width: 100%;
        position: relative;
        height: auto;
        background: #fff;
          margin-bottom: 23px;
    }

    /*a.navbar-brand {
        float: left;
    }*/

    .navbar .navbar-collapse {
        background: white;
        margin-left: 0 !important;
    }

    .btn.navbar-cta {
        display: inline-block;
        margin: 0;
    }


    /*.navbar-brand img {
        max-height: 50px;
    }*/

    .navbar-nav > li > a {
        text-transform: uppercase;
        color: #fff;
        border-right: 0;
        background: #00546E !important;
        text-align: center;
    }



    .navbar-header {
        padding: 8px 0 0px 0;
    }

    .header-left {
        width: 100%;
    }

    li.dropdown {
        width: 100%;
    }

    .navbar-nav {
        padding: 0 0 2px 0;
    }

    .cta-phone-box { display: none;}
    .mobile-cta-container { display: block;}
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

@media (max-width: 768px) {
        .megamenu {
            margin-left: 0;
            margin-right: 0;
        }

            .megamenu > li {
                margin-bottom: 30px;
            }

                .megamenu > li:last-child {
                    margin-bottom: 0;
                }

            .megamenu.dropdown-header {
                padding: 3px 15px !important;
            }

        .navbar-nav .open .dropdown-menu .dropdown-header {
            color: #fff;
        }
    }
