.ui-events-timeline .o-timeline{
	border-left:1px solid #e7e7e7;
	margin-left:70px;
	padding:10px 0px;
}
.ui-events-timeline .timeline-item{
	position:relative;
	margin:40px 0px;
}
.ui-events-timeline .timeline-circle{
	width:120px;
	height:120px;
	text-align:center;
	line-height:35px;
	font-size:14px;
	text-transform:uppercase;
	border-radius:100%;
	position:absolute;
	left:-60px;
	color:#fff;
	padding-top:25px;
}
.ui-events-timeline .timeline-circle span{
	display:block;
	font-size:40px;
}
.ui-events-timeline .timeline-content{
	margin-left:90px;
	position:relative;
	background:#fff;
	border:1px solid #e8e8e8;
	border-radius:6px;
	padding:20px 25px;
	box-shadow:4px 4px 0px 1px rgba(0,0,0,0.06);
}
.ui-events-timeline .timeline-content:after, 
.ui-events-timeline .timeline-content:before {
	right: 100%;
	top: 35%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ui-events-timeline .timeline-content:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 13px;
	margin-top: -20px;
}
.ui-events-timeline .timeline-content:before {
	border-color: rgba(238, 238, 238, 0);
	border-right-color: #e4e4e4;
	border-width: 14px;
	margin-top: -21px;
}
.ui-events-timeline .timeline-content p{
	font-size:14px;
	color:#888;
}
@media (max-width:900px){
	.ui-events-timeline .timeline-circle{
		width:90px;
		height:90px;
		font-size:13px;
		left:-45px;
		padding-top:15px;
		line-height:25px;
	}
	.ui-events-timeline .timeline-circle span{
		font-size:30px;
	}
	.ui-events-timeline .timeline-content{
		margin-left:75px;
	}
	.ui-events-timeline .timeline-content:after, 
	.ui-events-timeline .timeline-content:before {
		top: 15%;
	}
	.ui-events-timeline .timeline-content p{
		font-size:13px;
	}
}
@media (max-width:500px){
	.ui-events-timeline .o-timeline{
		margin-left:0px;
		border:0px;
	}
	.ui-events-timeline .timeline-circle{
		position:static;
		margin-bottom:20px;
	}
	.ui-events-timeline .timeline-content{
		padding:10px 15px;
		margin-left:0px;
	}
	.ui-events-timeline .timeline-content:after, 
	.ui-events-timeline .timeline-content:before {
		display:none;
	}
}


/*CUSTOM*/
.ui-events-timeline .location-time {
  margin-bottom: 30px;
}

