/*===================================================================================*/
/*	HEADER
/*===================================================================================*/


.inner-top-xs {
    padding-top: 45px;
}

.inner-bottom-xs {
    padding-bottom: 45px;
}

.outer-top-xs {
    margin-top: 45px;
}

.outer-bottom-xs {
    margin-bottom: 45px;
}






/*===================================================================================*/
/*	HEADER
/*===================================================================================*/

header .container-fluid {
    position: relative;
    z-index: 1;
}

.header-left {
    width: 22%;
    float: left;
    height: auto;
    position: relative;
    background: #efefef url(http://www.uti.edu/uti/img/hdrleft_bg.png) repeat-x;
    margin: 0 auto;
    -webkit-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    -moz-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    z-index: 100000;
    padding: 11px;
}

.header-middle {
    width: 57%;
    float: left;
    height: 83px;
    position: relative;
    -webkit-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    -moz-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    background: #d83427 url(http://www.uti.edu/uti/img/hdrMiddle_bg.png) repeat-x;
}

    .header-middle:after {
        content: '';
        display: block;
        width: 43px;
        height: 83px;
        position: absolute;
        top: 0;
        left: 99%;
        z-index: 1000;
        background: url(http://www.uti.edu/uti/img/ra_red.png) no-repeat;
    }

.hdrMiddle:after {
    content: '';
    display: block;
    width: 43px;
    height: 83px;
    position: absolute;
    top: 0;
    left: 99%;
    z-index: 1000;
}


.header-right {
    width: 21%;
    float: left;
    height: 80px;
    padding: 7px 0 7px 15px;
    position: relative;
    z-index: -1;
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,#fff 37%,#eee 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(37%,#fff),color-stop(100%,#eee));
    background: -webkit-linear-gradient(top,#fff 37%,#eee 100%);
    background: -o-linear-gradient(top,#fff 37%,#eee 100%);
    background: -ms-linear-gradient(top,#fff 37%,#eee 100%);
    background: linear-gradient(to bottom,#fff 37%,#eee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0);
    -webkit-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    -moz-box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    box-shadow: 8px 3px 8px rgba(50,50,50,.75);
    border-bottom: 0 solid #ab221a;
    margin: 0 auto;
    text-align: center;
}


/*===================================================================================*/
/*	Headings
/*===================================================================================*/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Tungsten A','Tungsten B' !important;
    text-transform: uppercase;
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

/*===================================================================================*/
/*	Images
/*===================================================================================*/

img {
    max-width: 100%;
    height: auto;
}


/*===================================================================================*/
/*	NAV
/*===================================================================================*/

.navbar-nav > li > a {
    font-size: 15px;
    line-height: 16px;
    /* text-transform: inherit; */
    padding: 8px 31px;
}

.navbar-collapse.collapse {
    padding: 0;
}

/*.navbar-collapse {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}*/
.navbar-right {
}

/*===================================================================================*/
/*	PADDING REMOVAL
/*===================================================================================*/
.no-padding {
    padding: 0;
}

.no-top-padding {
    padding-top: 0;
}

.no-right-padding {
    padding-right: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.no-left-padding {
    padding-left: 0;
}

/*===================================================================================*/
/*	MARGIN REMOVAL
/*===================================================================================*/
.no-margin {
    margin: 0;
}

.no-top-margin {
    margin-top: 0;
}

.no-right-margin {
    margin-right: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.no-left-margin {
    margin-left: 0;
}


/*===================================================================================*/
/*	ROYAL SLIDER
/*===================================================================================*/
#full-width-slider {
    width: 100%;
    color: #000;
    margin: 0 auto;
    text-align: center;
}

section#hero {
    border-bottom: 5px solid #0186d1;
}





/*BLUE CUSTOM*/
.navbar-header {
}







/*Media Queries*/
@media (max-width: 768px) {
    .dropdown-menu {
        display: none;
    }
}
